*{
    margin: 0px;
    padding: 5px;
}

body {
    background-color: #9B59B7;
}

div.pantalla{
    position: relative;
    top: 70px;
    height: 90px;
    font-size: 70px;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 720px;
    margin-left: 730px;
    background-color: #2B3E50;
    text-align: right;
}

div.fila{
    position: relative;
    top: 70px;
    margin-left: 730px;
    margin-right: 720px;
    background-color: #34495E;
    height: 90px;
    outline: none;
    border: none;
    line-height: 0px;
    padding-left: 25px;
}

div.filaFinal {
    position: relative;
    top: 70px;
    margin-left: 730px;
    margin-right: 720px;
    background-color: #34495E;
    height: 100px;
    outline: none;
    border: none;
    line-height: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 25px;
}

button {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 0px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    position: relative;
    float: left;
    font-weight: 200;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 50%
    transition: .2 all;
}
button:hover{
    box-shadow: 2px 2px 2px 2;
    background-color: #2B3E50;
    border-radius: 50px;
}

.operacion {
    background-color: #2B3E50;
    border-radius: 50px;
    color: #6DD9D8;
}

.operacion:hover {
    background-color: #7CFBF5;
    color: white;
}

.resultado {
    background-color: #7CFBF5;
    border-radius: 50px;
}

.resultado:hover {
    background-color: #2B3E50;
    color: #7CFBF5;
}
